@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    color: rgb(255, 255, 255);
    font-family: "Poetsen One", sans-serif;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url(/teste4.4/img/BR-pt-20200706-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: 120% 100%;
    animation: anima 160s infinite linear alternate;

}
@keyframes anima {
    0%{
        background-position-x: 0%;
}
    100%{
        background-position-x: 100%;

}
}

.logo{
    width: 120px;
    height: 120px;
    top: -20px;
    left: -20px;
    padding: 15px;
    position: absolute;
}

.hoverable {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(66, 66, 66, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

@keyframes bounce-animation {
    16.65% {
        transform: translateY(8px);
    }

    33.3% {
        transform: translateY(-6px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }

}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}

@media (min-width: 768px) {
    .navbar {
        text-align: center !important; 
        float: none;
        display: inline-block;
        width: 100%; 
    }
}

nav {    
    background-color: rgb(51, 57, 61,0.5);
    margin: 0;
    padding: 15px 1px;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 25px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

nav ul li {
    margin: 0 3em; 
}

nav ul li a {
    width: 100%;
    height: 100%;
    background-color: rgb(11, 6, 36);
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
    transition: 0.5s color ease-in-out;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffffce;
}

.page-title {
    opacity: 0.75 !important;
}


h2{
    font-family: "Poetsen One", sans-serif;
}

a{
    color: white;
}

.nomedosite{
    color: rgba(0, 153, 255, 0.712);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 120px;
}

.sobre_site{
    
    text-align: center;
    margin: 70px;
}

.container{
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 4px;
    flex-wrap: wrap;
    }
    
.img2{
    width: 290px;
    height: 400px;
    border-radius: 12px;
    margin-right: 15px;
}
.img2{
    transition: 0.3s ease;
  }
  .img2:hover {
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.151);
    border: 2px solid #858484;
    cursor: pointer;
}

.janela-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal{
    width: 60%;
    min-width: 600px;
    min-height: 400px;
    background-color: rgba(37, 36, 36, 0.541);
    backdrop-filter: blur(10px);
    padding: 0px;
    border-radius: 20px;
    transition: display 0.3s ease;
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.janela-modal.abrir{
    display: flex;
}

.nomefilme{
    color: rgba(0, 153, 255, 0.712);
    margin: 45px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px;
}

.descricao_filme{
    margin: 20px;
    color: white;
    text-align: left;
}
